name: Keep Render App Alive

on:
  schedule:
    - cron: "*/5 * * * *"   # Ping every 5 minutes
  workflow_dispatch:        # Allow manual runs

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Curl Render App
        run: |
          curl --silent --show-error https://module-1-0.onrender.com/healthz
